*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.288);
}
.doctor-form-btn{
    width: 250px !important;
    margin-top: 30px;
    background-color: rgb(71, 192, 71);
    border: none;
    text-transform: uppercase;
}




